@keyframes desaparecer
{
    0%, 100%
    {
        opacity: 1;
    }
}

@keyframes hide {
    0%,100% {
        opacity: 1
    }

    25%,75% {
        opacity: 0
    }
}

@keyframes hide2 {
    0%,100% {
        opacity: 1
    }

    15%,75% {
        opacity: 0
    }
}
