<div class="menu_container">
  <h2>Seasonal <span class="shadow-text">Salads</h2></span>
  <div class="products-container">
    <div class="categories-products">
      <h5>All</h5>
      <h5>promociones</h5>
    </div>
    <div class="products-carousel">
      {% include "includes/products.html.jinja" %}
    </div>
  </div>
</div>
