<div class="menu_container">
<h2>Seasonal <span class="shadow-text">Salads</h2></span>
  <div class="products">
    <img src="#" height="60px" width="60px" alt="Products" />
    <div>
      <span>info Products</span>
      <span>AddBtn</span>
    </div>
  </div>
</div>
