<div class="offers_container">
<h2>Special <span class="shadow-text">offers</span></h2>
  <div class="offers_product">
    <div class="info">Informacion del platillo</div>
    <img src="#" width="60px" height="60px" alt="platillo" />
  </div>
</div>

