<div class="offers_container">
<h2>Special <span class="shadow-text">offers</span></h2>
  <div class="offers_product">
    <div class="info">
      <h3> Greek Salad </h3>
      <br />
      <p>Informacion sobre Greek Salad</p>
      <p>$ 50</p>
      <img src="#" width="60px" height="60px" alt="platillo" />
    </div>
  </div>
  </div>

