<div class="products">
  <img src="#" height="60px" width="60px" alt="Products" />
  <div>
    <div class="info-product">
      <h5> description</h5>
      <h5>$ 100</h5>
    </div>
    <span>AddBtn</span>
  </div>
</div>
