// Colors
$bg-primary-color: #fff;
$bg-secondary-color: #111;
$font-inactive-color: #a5a5a9; 
$font-active-color: #010101;
$btn-active-color: #00ff06;
$btn-inactive-color: #eeeef0;
$bg-notify-color: #f9985c;

/* Family Font*/
$fonts:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
