{% extends 'layout.html.jinja' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<main>
  {% include "./includes/header.html.jinja" %} 
  {% include "./includes/offers.html.jinja" %} 
  {% include "./includes/menu.html.jinja" %} 
  {% include "./includes/navbar.html.jinja" %} 
</main>

{% endblock %}

